<!doctype html>
<html lang="en" layout:decorate="~{base}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <section id="intro">
        <h2>Please <span>enter your product information</span></h2>
        <table>
            <tr>
                <td> Title:</td>
                <td><input name="title" th:value="${product?.title}" type="text"></td>
            </tr>
            <tr>
                <td> Description:</td>
                <td><input name="description" th:value="${product?.description}" type="text"></td>
            </tr>
            <tr>
                <td> Deposit:</td>
                <td><input name="deposit" th:value="${product?.deposit}" type="number"></td>
            </tr>
            <tr>
                <td> Daily Fee:</td>
                <td><input name="dailyFee" th:value="${product?.dailyFee}" type="number"></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-default btn-sm">New Product!</button>

        </form>


    </section>
</div>

</body>
</html>