<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">

    <title>Home</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="/home">
        <h1 id="logo">Sharing is Caring</h1>
        <p>Ing. Three Weeks a Slave GmbH</span></p>
    </a>
</header>

<main>
    <b th:if="${note != null}" th:text="${note}">hat geklappt</b>

    <div th:if="${note != null}"></div>

    <nav id="navigation" layout:fragment="nav"></nav>

    <div layout:fragment="content"></div>



</main>

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        technische Umsetzung: ThreeWeeksASlave
    </p>
</footer>

</body>
</html>