<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New Product</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a th:href="@{'/requests/'}">Requests</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <h2>Select an image</h2>
    <form method="post" enctype="multipart/form-data" action="/upload/">
        <table>
            <tr valign="top">
                <b>Your current image</b>
                <img th:src="@{'/upload/files/'+${product.id}+'/'+${product.id} + ''}" alt="Product Cover" style="width:auto; max-width:500px; max-height:600px; height:auto">
            </tr>
            <tr>
                <td>Upload image:</td>
                <td><input type="file" id="file" name="file" accept="image/x-png,image/gif,image/jpeg"/></td>
                <input type="hidden" name="fileName" th:value="${product.id}">
                <input type="hidden" name="productId" th:value="${product.id}">
            </tr>
        </table>
        <button type="submit" class="btn btn-default btn-sm">Upload Image</button>
        <script>
            var uploadField = document.getElementById("file");

            uploadField.onchange = function() {
                if(this.files[0].size > 3145728){
                    alert("File is too big! Maximum size: 3MB");
                    this.value = "";
                };
            };
        </script>
    </form>
    <br>
    <form method="post" th:action="'/upload/' +${product.id}+'/deleteCurrentImage'">
        <button type="submit" class="btn btn-default btn-sm">Delete Current Image</button>
    </form>
    <hr>
    <a th:href="@{'/product/'+${product.id}}">Back to product details</a>

</div>

</body>
</html>