<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">

    <title>Error</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="/home">
        <h1 id="logo">Sharing is Caring</h1>
        <p>Ing. Three Weeks a Slave GmbH</p>
    </a>
</header>

<section class ="spalte">
    <h1>Something went wrong! </h1>
    <h2>Our Engineers are on it</h2>
</section>
<section>
    <img src="../img/jens.png" alt="" style="width: 80%; height: auto">
</section>

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        technische Umsetzung: ThreeWeeksASlave
    </p>
</footer>
</body>
</html>