<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">

    <title>Error</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="home">
        <h1 id="logo">Sharing is Caring</h1>
        <p>Ing. Three Weeks a Slave GmbH</span></p>
    </a>
</header>

<h1>Something went wrong! </h1>
<h2>Our Engineers are on it</h2>
<!--<a href="/login">Go to login</a>-->

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        technische Umsetzung: ThreeWeeksASlave
    </p>
</footer>
</body>
</html>