<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/base.css">

    <title>Home</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="/home">
        <h1 id="logo">Sharing is Caring</h1>
        <p>Ing. Three Weeks a Slave GmbH</p>
    </a>
</header>

<main>
    <nav  id="navigation">
         <ul>
             <li><a href="/home">Home</a></li>
             <li><a th:href="@{'/profile'}">Profile</a></li>
             <li><a href="/products">View Products</a></li>
             <li><a href="/lend">Add Product</a>
             <li><a th:href="@{'/requests'}">Requests</a></li>
             <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
             <li><a href="/logout" role="button">Log Out</a></li>
         </ul>
     </nav>

        <h2>FAQs</h2>
        <section class="spalte">
            <h3>Profile</h3>
            <p style="font-weight: bold">Change your profile details</p>
            Go to your profile. There you can go through "change profile" to a page where you can update your profile.
            <br/>
            <p style="font-weight: bold">Recharge credit</p>
            On your profile you can recharge your credit by adding an amount and your IBAN.
            <br/>
            <p style="font-weight: bold">Transactions</p>
            On your profile you can go to an overview of all transactions. You can also see on your profile your actual amount and blocked cautions.
            <br/>
            <br/>
            <h3>Products</h3>
            <p style="font-weight: bold">add new Product</p>
            On the sidenav you can chose "add Product" to create a new Product. You have also to decide if you can buy or lend the product. After that you can upload an image or use the default image.
            <br/>
            <p style="font-weight: bold">Search Products</p>
            At the page "view Products" you can search specific products. You can also decide, if you want to see all the products, only the products, you can buy or borrow, only the products you offer or only the products you borrow.
            <br/>
            <p style="font-weight: bold">Edit Product</p>
            Chose your own product at the products search. After that you have the option to edit your product. There you can also delete this product, if it's actual not borrowed.
        </section>
        <section class="spalte">
            <h3>Borrow a product</h3>
            1. Search a product, go to details and chose "Borrow it"<br/>
            2. Now you can add a comment to the owner and chose the period you want to borrow it<br/>
            3. In the requests section you have an overview over all orderProcesses<br/>
            4. The owner of the product can now accept or deny your request.<br/>
            5. After you return the product, the owner can accept or deny your return and the dailyFee will be paid from your account.<br/>
            <br/>
            <br/>
            <h3>Deny a return</h3>
            You are not confirm with the return of a product? If you chose deny return, an admin will get a notification about it and will check
            this orderProcess. If he confirms the conflict, the caution will be paid automatically.
            <br/>
            <br/>
            <h3>Buy a product</h3>
            Search a product, go to details and chose "Buy it!"<br/>
            <br/>
            <br/>
            <h3>Requests</h3>
            Have a look at your requests! <br/>
            This is an overview for every orderProcess that it not deleted yet.
            You don't only see your borrowed products there, you have also to check requests that are send to yourself. Accept or deny the
            orderProcesses and have an overview of returned products.
            You can also see the products you have bought or sold. <br/>
            <br/>
            <br/>
            <h3>Delete a product</h3>
            You can only delete products, when they're not borrowed.
            When you want to delete a product, you have to go to the search page and search the product you want to delete.
            It is important, that you search with the filter "offered" to get all of your own products.
            When you have found your product, go to "Edit it" and then click the button at the end of the edit page that says "Delete Product".

        </section>
</main>

<footer class="grid">
    <ul id="footer-nav">
    		<li><a href="/faqs" title="FAQs">FAQs</a></li>
            <li><a href="/imprint" title="Imprint">Imprint</a></li>
            <li><a href="/privacyPolicy">Privacy policy</a></li>
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        technical implementation: ThreeWeeksASlave
    </p>
</footer>


</body>
</html>