
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="home.html">
        <h1 id="logo">Sharing is Caring</h1>
        <p>Ing. Three Weeks a Sklave GmbH</span></p>
    </a>
</header>

<main>

    <nav id="navigation">
        <ul>
            <li><a aria-current="page">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/products">view Products</a></li>
            <li><a href="/product">add Product</a>
            <li><a href="/messages">messages</a></li>
        </ul>
    </nav>

    <section id="intro">
        <h2>Welcome <span>to Sharing is Caring</span></h2>
        <p>
            Teeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeext
        </p>
    </section>


    <section class="spalte">
        <h2>Motivation</h2>
        <p>
            <img src="" alt="">
            Antoine das Nashorn träumt davon Teil der WG zu sein - nur passt er nicht durch die Tür. Bei Sharing is Caring haben wir zwar keinen Presslufthammer für Antoine, aber über 1000 Produkte für Sie! Teilen statt Kaufen! Eine Kampfansage an die Wegwerfgesellschaft<br>
        </p>
    </section>


    <section class="spalte">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet consectetiu eradipiscing elit sed diam.
        </p>
    </section>

</main>

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        technische Umsetzung: ThreeWeeksASlave
    </p>
</footer>

</body>
</html>