<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lend</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a aria-current="page">Add Product</a>
        <li><a th:href="@{'/requests'}">Requests</a></li>
        <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <section>

        <h2>Please <span>enter your product information</span></h2>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/sale">Sell</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/lend">Lend</a>
                    </li>
                </ul>
            </div>
            <div class="card-body p-2">
                <h5 class="card-title">So you want to lend something?</h5>
                <p class="card-text">Please enter your product information.</p>
            </div>
            <form class="form-signin" method="post">
                <div class="text-center mb-4">
                    <h3 class="h3 mb-3 font-weight-normal"></h3>
                </div>
                <div class="form-label-group">
                    <input type="title" name="title" id="inputTitle" class="form-control" placeholder="Title"
                           th:value="${product?.title}" required maxlength="255" autofocus>
                    <label for="inputTitle">Title</label>
                </div>
                <div class="form-group">
                    <label for="inputDescription"></label>
                    <textarea name="description" id="inputDescription" class="form-control" placeholder="Description"
                              th:value="${product?.description}" required maxlength="255" rows="6" cols="40" autofocus></textarea>
                </div>
                <div class="form-label-group">
                    <input type="number" name="deposit" id="inputDeposit" class="form-control"
                           th:value="${product?.deposit}" placeholder="Deposit" required autofocus>
                    <label for="inputDeposit">Deposit</label>
                </div>
                <div class="form-label-group">
                    <input type="number" name="dailyFee" id="inputDailyFee" class="form-control"
                           th:value="${product?.dailyFee}" placeholder="Daily fee" required autofocus>
                    <label for="inputDailyFee">Daily fee</label>
                </div>
                <div class="form-label-group">
                    <input type="text" name="street" id="inputStreet" class="form-control" placeholder="Street"
                           pattern="[^0-9]+"
                           th:value="${product?.address?.street}" required maxlength="255" autofocus>
                    <label for="inputStreet">Street</label>
                </div>
                <div class="form-label-group">
                    <input type="number" name="houseNumber" id="inputHouseNo" class="form-control"
                           th:value="${product?.address?.houseNumber}" placeholder="House No." required autofocus>
                    <label for="inputHouseNo">House No.</label>
                </div>
                <div class="form-label-group">
                    <input type="number" name="postcode" id="inputPostcode" class="form-control"
                           th:value="${product?.address?.postcode}" placeholder="Postcode" required autofocus>
                    <label for="inputPostcode">Postcode</label>
                </div>
                <div class="form-label-group">
                    <input type="text" name="city" id="inputCity" class="form-control" pattern="[^0-9]+"
                           th:value="${product?.address?.city}" placeholder="City" required maxlength="255" autofocus>
                    <label for="inputCity">City</label>
                </div>
                <button type="submit" class="btn btn-lg btn-secondary btn-block pinkbtn">Submit</button>
            </form>
        </div>
    </section>
</div>

</body>
</html>
</body>
</html>