<!doctype html>
<html lang="en" layout:decorate="~{productsBase}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Products</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a aria-current="page">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a th:href="@{'/requests'}">Requests</a></li>
         <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="productResults">

    <div th:if="${query != ''}">
        <b th:text="${'Results for ' + '&quot;'+ query + '&quot;'}"></b>
    </div>
    <div th:if="${products.isEmpty() == false}" style="width:500px">
        <hr>
        <section th:each="product : ${products}" style="width:500px">

            <h3><u th:text="${product?.title}"></u></h3>
            <br>
            <table>
                <td valign="top">
                    <img th:src="@{'../upload/files/'+${product.id}+'/'+${product.id} + ''}" alt="Product Cover" style="width:100px; max-height:170px; height:auto">
                </td>
                <td valign="top">
                    <div th:text="${#strings.abbreviate(product.description,100)}" style="word-break:break-all"></div>
                    <br>
                    <div th:text="'Daily Fee: ' + ${product.dailyFee} + '€'"></div>
                    <br>

                   <div>
                       <a style="color:mediumseagreen" th:href="@{/product/availability/{id}(id=${product.id})}">check Availability</a>
                   </div>
                </td>
            </table>
            <a th:href="@{/product/{id}(id=${product.id})}">read more</a>
                <hr>
        </section>
    </div>
    <div th:if="${products?.isEmpty()}">
        <p>No results</p>
    </div>

</div>

</body>
</html>
