<!doctype html>
<html lang="en" layout:decorate="~{productsBase}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Products</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a aria-current="page">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a href="/messages">Messages</a></li>
        <li><a th:href="@{'/requests/' + ${user.customerId}}">Requests</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="productResults">

    <div th:if="${query != ''}">
        <b th:text="${'Results for ' + '&quot;'+ query + '&quot;'}"></b>
    </div>
    <div th:if="${products.isEmpty() == false}">
        <hr>
        <section th:each="product : ${products}">

            <h3><u th:text="${product.title}"></u></h3>
            <br>
            <table>
                <td>
                    <img th:src="'upload-dir/'+${product.id}+'/'+${product.id} + '.jpg'" alt="Product Cover" width="50" height="60">
                </td>
                <td>
                    <div th:text="${#strings.abbreviate(product.description,100)}"></div>
                    <br>
                    <div th:text="'Daily Fee: ' + ${product.dailyFee} + '€'"></div>
                    <br>

                    <div th:if="${product.available}">
                        <b style="color:mediumseagreen" th:text="Available"></b>
                    </div>
                    <div th:if="${!product.available}">
                        <b style="color:tomato" th:text="'Borrowed Until' + ${product.date}"></b>
                    </div>
                </td>
            </table>
            <a th:href="@{/product/{id}(id=${product.id})}">read more</a>
                <hr>
        </section>
    </div>
    <div th:if="${products.isEmpty()}">
        <p>No results</p>
    </div>

</div>

</body>
</html>
