<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <section id="intro">
        <h2>Profile</h2>
        <table>
            <tr>
                <td>
                    userName:
                </td>
                <td>
                    <dd th:text="${user.userName}">user name</dd>
                </td>
            </tr>
            <tr>
                <td>
                    emailAddress:
                </td>
                <td>
                    <dd th:text="${user.mail}">mail</dd>
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>
                    Address:
                </td>
            </tr>
            <tr>
                <td>
                    street:
                </td>
                <td>
                    <dd th:text="${user.address.street}">street</dd>
                </td>
            </tr>
            <tr>
                <td>
                    houseNr:
                </td>
                <td>
                    <dd th:text="${user.address.houseNumber}">houseNumber</dd>
                </td>
            </tr>
            <tr>
                <td>
                    postCode:
                </td>
                <td>
                    <dd th:text="${user.address.postCode}">postCode</dd>
                </td>
            </tr>
            <tr>
                <td>
                    city:
                </td>
                <td>
                    <dd th:text="${user.address.city}">city</dd>
                </td>
            </tr>
        </table>

        <br/>
        <a th:href="@{'/profile/update' + ${user.customerId}}" role="button">change profile</a>

    </section>
</div>

</body>
</html>