<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a aria-current="page">Profile</a></li>
        <li><a href="/products">view Products</a></li>
        <li><a href="/product">add Product</a>
        <li><a href="/messages">messages</a></li>
        <li><a th:href="@{'/profile/requests/'}">requests</a></li>
        <li><a href="/logout" role="button">logout</a></li>
    </ul>
</nav>

<div layout:fragment="content">

    <section id="intro">
        <form method="POST">
        <h2>Profile</h2>
        <table>
            <tr>
                <td>
                    userName:
                </td>
                <td>
                    <dd th:text="${user?.username}">user name</dd>
                </td>
            </tr>
            <tr>
                <td>
                    emailAddress:
                </td>
                <td>
                    <dd th:text="${user?.mail}">mail</dd>
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>
                    Address:
                </td>
            </tr>
            <tr>
                <td>
                    street:
                </td>
                <td>
                    <input type="text" name="street" th:value="${user?.address.street}">
                </td>
            </tr>
            <tr>
                <td>
                    houseNr:
                </td>
                <td>
                    <input type="number" name="houseNumber" th:value="${user?.address.houseNumber}">
                </td>
            </tr>
            <tr>
                <td>
                    postCode:
                </td>
                <td>
                    <input type="number" name="postCode" th:value="${user?.address.postCode}">
                </td>
            </tr>
            <tr>
                <td>
                    city:
                </td>
                <td>
                    <input type="text" name="city" th:value="${user?.address.city}">
                </td>
            </tr>
        </table>

        <br/>
        <div>
            <button type="submit">Save</button>
        </div>
        </form>
    </section>
</div>

</body>
</html>