
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Home</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="home.html">
        <h1 id="logo">Sharing is Caring</h1>
        <p>Ing. Three Weeks a Sklave GmbH</span></p>
    </a>
</header>

<main>

    <nav id="navigation">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a aria-current="page">Profile</a></li>
            <li><a href="/products">view Products</a></li>
            <li><a href="/product">add Product</a>
            <li><a href="/messages">messages</a></li>
        </ul>
    </nav>

    <section id="intro">
        <h2>Profile</h2>
        <table>
            <tr>
                <td>
                    userName:
                </td>
                <td>
                    <dd th:text="${user.userName}">user name</dd>
                </td>
            </tr>
            <tr>
                <td>
                    emailAddress:
                </td>
                <td>
                    <dd th:text="${user.mail}">mail</dd>
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>
                    Address:
                </td>
            </tr>
            <tr>
                <td>
                    street:
                </td>
                <td>
                    <dd th:text="${user.address.street}">street</dd>
                </td>
            </tr>
            <tr>
                <td>
                    houseNr:
                </td>
                <td>
                    <dd th:text="${user.address.houseNumber}">houseNumber</dd>
                </td>
            </tr>
            <tr>
                <td>
                    postCode:
                </td>
                <td>
                    <dd th:text="${user.address.postCode}">postCode</dd>
                </td>
            </tr>
            <tr>
                <td>
                    city:
                </td>
                <td>
                    <dd th:text="${user.address.city}">city</dd>
                </td>
            </tr>
        </table>

        <br/>
            <a th:href="@{'/profile/update' + ${user.customerId}}" role="button">change profile</a>

    </section>

</main>

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        technische Umsetzung: ThreeWeeksASlave
    </p>
</footer>

</body>
</html>