<!doctype html>
<html lang="en" layout:decorate="~{base}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content">
    <section id="intro">
        <h2>Profile</h2>
        <table>
            <tr>
                <td>
                    userName:
                </td>
                <td>
                    <dd th:text="${user.userName}">user name</dd>
                </td>
            </tr>
            <tr>
                <td>
                    emailAddress:
                </td>
                <td>
                    <dd th:text="${user.mail}">mail</dd>
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>
                    Address:
                </td>
            </tr>
            <tr>
                <td>
                    street:
                </td>
                <td>
                    <input type="text" name="street" th:value="${user.address.street}">
                </td>
            </tr>
            <tr>
                <td>
                    houseNr:
                </td>
                <td>
                    <input type="number" name="houseNumber" th:value="${user.address.houseNumber}">
                </td>
            </tr>
            <tr>
                <td>
                    postCode:
                </td>
                <td>
                    <input type="number" name="postCode" th:value="${user.address.postCode}">
                </td>
            </tr>
            <tr>
                <td>
                    city:
                </td>
                <td>
                    <input type="text" name="city" th:value="${user.address.city}">
                </td>
            </tr>
        </table>

        <br/>
        <div>
            <button type="submit">Save</button>
        </div>

    </section>
</div>

</body>
</html>