<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Update your Profile</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a aria-current="page">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a th:href="@{'/requests'}">Requests</a></li>
        <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">

    <section id="intro">
        <form method="POST">
        <h2>Profile</h2>
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <dd th:text="${user?.username}">Username</dd>
                </td>
            </tr>
            <tr>
                <td>
                    Email address:
                </td>
                <td>
                    <input type="email" name="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                           th:value="${user?.mail}" required minlength="6" maxlength="32">
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>
                    Address:
                </td>
            </tr>
            <tr>
                <td>
                    Street:
                </td>
                <td>
                    <input type="text" name="street" pattern="[^0-9]+" th:value="${user?.address.street}">
                </td>
            </tr>
            <tr>
                <td>
                    House No.:
                </td>
                <td>
                    <input type="number" name="houseNumber" th:value="${user?.address.houseNumber}">
                </td>
            </tr>
            <tr>
                <td>
                    Postcode:
                </td>
                <td>
                    <input type="number" name="postcode" th:value="${user?.address.postcode}">
                </td>
            </tr>
            <tr>
                <td>
                    City:
                </td>
                <td>
                    <input type="text" name="city" pattern="[^0-9]+" th:value="${user?.address.city}">
                </td>
            </tr>
        </table>

        <br/>
        <div>
            <button type="submit">Save</button>
        </div>
        </form>
    </section>
</div>

</body>
</html>