<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Your Profile</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a aria-current="page">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a href="/messages">Messages</a></li>
        <li><a th:href="@{'/requests'}">Requests</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>
<div layout:fragment="content">

    <section class="spalte">
        <h2>Profile</h2>
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <dd th:text="${user.username}">user name</dd>
                </td>
            </tr>
            <tr>
                <td>
                    Email address:
                </td>
                <td>
                    <dd th:text="${user.mail}">mail</dd>
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>
                    Address:
                </td>
            </tr>
            <tr>
                <td>
                    Street:
                </td>
                <td>
                    <dd th:text="${user.address.street}">street</dd>
                </td>
            </tr>
            <tr>
                <td>
                    House No.:
                </td>
                <td>
                    <dd th:text="${user.address.houseNumber}">houseNumber</dd>
                </td>
            </tr>
            <tr>
                <td>
                    Postal code:
                </td>
                <td>
                    <dd th:text="${user.address.postCode}">postCode</dd>
                </td>
            </tr>
            <tr>
                <td>
                    City:
                </td>
                <td>
                    <dd th:text="${user.address.city}">city</dd>
                </td>
            </tr>
        </table>

        <br/>
        <a th:href="@{'/profile/update/'}" role="button">change profile</a>

    </section>
    <section class="spalte">
        <h2>ProPayAccount</h2>
        <table>
            <tr>
                <td>
                    amount:
                </td>
                <td>
                    <dd th:text="${user.proPay.amount} + '€'">amount</dd>
                </td>
            </tr>
            <tr>
                <td>
                    blocked deposit:
                </td>
            </tr>
            <tr th:each="reservation:${user.proPay.reservations}">
                <td th:text="'Nr: ' + ${reservation.id}">Nr: 0</td>
                <td th:text="'Amount: ' + ${reservation.amount} + '€'">Amount: 0€</td>
            </tr>
        </table>
        <br/>
        <a th:href="@{'/rechargeCredit'}">Recharge credit</a>
        <br/>
        <a th:href="@{'/transactions'}">Transaction Overview</a>
    </section>
</div>

</body>
</html>