<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a aria-current="page">Profile</a></li>
        <li><a href="/products">view Products</a></li>
        <li><a href="/product">add Product</a>
        <li><a th:href="@{'/requests'}">requests</a></li>
        <li><a role="button">logout</a></li>
    </ul>
</nav>


<div layout:fragment="content">

    <section id="intro">
        <form method="POST">
        <h2>Recharge Credit</h2>
        <p> please insert your IBAN and the amount you want to send to your ProPayAccount!</p>
        <p>Amount: </p>
        <input type="number" name="amount" th:value="${amount}" min="1">
        <br/>
        <p>IBAN:</p>
        <input type="text" name="iban">
        <br/>
        <button type="submit">Save</button>
        </form>
    </section>
</div>

</body>
</html>