<!doctype html>
<html lang="en" layout:decorate="~{baseLogin}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>

<body>
<div layout:fragment="content">

    <section>
        <form id="intro" method="post">
            <h2>Registration</h2>
            <table>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input type="text" name="userName" th:value="${userName}" required minlength="5" maxlength="32">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email address:
                    </td>
                    <td>
                        <input type="text" name="emailAddress" th:value="${emailAddress}" required minlength="6" maxlength="32">
                    </td>

                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name="password" th:value="${password}" required minlength="6" maxlength="32">
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm password:
                    </td>
                    <td>
                        <input type="password" name="passwordConfirm" th:value="${passwordConfirm}" required minlength="6" maxlength="32">
                    </td>
                </tr>
            </table>
            <br/>
            <button type="submit">Submit</button>
        </form>

    </section>
</div>

</body>

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        Technical implementation: ThreeWeeksASlave
    </p>
</footer>

</body>
</html>