<!doctype html>
<html lang="en" layout:decorate="~{baseLogin}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
<div layout:fragment="content">

    <section>
            <form class="form-signin" method="post">
                <h3 class="h3 mb-3 font-weight-normal">Registration</h3>
                <p>Please register.</p>

                <div class="form-label-group">
                    <input type="text" id="inputUsername" name="userName" class="form-control" placeholder="Username" th:value="${userName}"
                           minlength="5" maxlength="32" required autofocus>
                    <label for="inputUsername">Username</label>
                    <small id="usernameHelp" class="form-text text-muted">Your username may contain up to 32 characters.</small>
                </div>
                <div class="form-label-group">
                    <input type="email" name="emailAddress" id="inputEmail" class="form-control" placeholder="Email address" th:value="${emailAddress}"
                           minlength="6" maxlength="32" required autofocus>
                    <label for="inputEmail">Email</label>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-label-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" th:value="${password}"
                           minlength="6" maxlength="32" required autofocus>
                    <label for="inputPassword">Password</label>
                    <small id="passwordHelp" class="form-text text-muted">Your password may contain up to 32 characters.</small>
                </div>
                <div class="form-label-group">
                    <input type="password" name="passwordConfirm" id="inputPasswordConfirm" class="form-control" placeholder="Confirm password" th:value="${passwordConfirm}"
                           minlength="6" maxlength="32" required autofocus>
                    <label for="inputPassword">Confirm password</label>
                    <small id="passwordConfirmHelp" class="form-text text-muted">Please confirm your password.</small>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
    </section>

</div>
</body>

<footer class="grid">
    <ul id="footer-nav">
    </ul>
    <p>
        Design: ThreeWeeksASlave<br>
        Technical implementation: ThreeWeeksASlave
    </p>
</footer>

</body>
</html>