<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home'}">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a aria-current="page">Requests</a></li>
        <li><a href="/logout" role="button">Logout</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <section id="spalte">
        <h1>Your borrowed Product:</h1>
            <table>
                <tr>
                    <td>
                        Product:
                    </td>
                    <td>
                        <dd th:text="${product.title}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Owner:
                    </td>
                    <td>
                        <dd th:text="${owner.username}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Emailadress:
                    </td>
                    <td>
                        <dd th:text="${owner.mail}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <dd th:text="${user?.address.street} + ' ' + ${user?.address.houseNumber} + ', ' + ${user?.address.postCode} + ' ' + ${user?.address.city}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td>
                        <dd th:text="${process.status}"></dd>
                    </td>
                </tr>
            </table>

        <br>

        <div th:switch="${process.status.name()}">
            <div th:case="'DENIED'">
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>
            <div th:case="'CONFLICT'">
                <!-- TODO: Konfliktmanagment -->
            </div>
            <div th:case="'RETURNED'">
                <td>Please wait for owners response!</td>
            </div>
            <div th:case="'FINISHED'">
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>
            <div th:case="'ACCEPTED'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="return">Return Product</button>
                </form>
            </div>

            <div th:case="'PENDING'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message}"><br></td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Cancel Process</button>
                </form>
            </div>

            <div th:case="'DENIED'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message}"></td>
                    </tr>
                </table>

                <form method="post">
                    <button name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>

        </div>
        <br>
    </section>
</div>
</body>
</html>