<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Your Order for '+${product.title}">order</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>

        <li><a th:href="@{'/home'}">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/lend">Add Product</a>
        <li><a th:href="@{'/requests'}">Requests</a></li>
         <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>

    </ul>
</nav>

<div layout:fragment="content">
    <section id="spalte">
        <h1>Your borrowed Product:</h1>
            <table>
                <tr>
                    <td>
                        Product:
                    </td>
                    <td>
                        <dd th:text="${product?.title}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Owner:
                    </td>
                    <td>
                        <dd><a th:text="${owner?.username}" th:href="@{'/customer/' + ${owner?.customerId}}"/></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Emailadress:
                    </td>
                    <td>
                        <dd th:text="${owner?.mail}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <dd th:text="${user?.address.street} + ' ' + ${user?.address.houseNumber} + ', ' + ${user?.address.postcode} + ' ' + ${user?.address.city}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td>
                        <dd th:text="${process?.status}"></dd>
                    </td>
                </tr>
            </table>

        <br>


        <div th:switch="${process.status.name()}">

            <div th:case="'DENIED'">
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>

            <div th:case="'CONFLICT'">
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <br/>
                The owner of the product is not satisfied with your return. An admin is now checking this conflict.
            </div>

            <div th:case="'RETURNED'">
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <br/>
                <dl>
                    <dd>Please wait for lender's response!</dd>
                </dl>
            </div>

            <div th:case="'FINISHED'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>

            <div th:case="'PUNISHED'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <br/>
                The blocked Caution was send to the owner of this product.
                <br/>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>

            <div th:case="'ACCEPTED'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <br/>
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <form method="post">
                    <button th:if="${cancelable==false}" class="btn btn-outline-danger btn-sm" name="action" type="submit" value="return">Return Product</button>
                    <button th:if="${cancelable}" class="btn btn-outline-danger btn-sm" name="action" type="submit" value="cancel">Cancel your order</button>
                </form>
            </div>

            <div th:case="'PENDING'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Cancel Process</button>
                </form>
            </div>

            <div th:case="'DENIED'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>

                <form method="post">
                    <button name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </div>

        </div>
        <br>
    </section>
</div>
</body>
</html>