<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home/' + ${user.customerId}}">Home</a></li>
        <li><a th:href="@{'/profile/' + ${user.customerId}}">Profile</a></li>
        <li><a href="/products">view Products</a></li>
        <li><a href="/product">add Product</a>
        <li><a th:href="@{'/profile/requests/' + ${user.customerId}}">requests</a></li>
        <li><a th:href="/logout" role="button">logout</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <section id="spalte">
        <h1>Your borrowed Products:</h1>
            <table>
                <tr>
                    <td>
                        Product:
                    </td>
                    <td>
                        <dd th:text="${product.title}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Owner:
                    </td>
                    <td>
                        <dd th:text="${owner.username}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Emailadress:
                    </td>
                    <td>
                        <dd th:text="${owner.mail}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <dd th:text="${borrower.address.street} + ' ' + ${borrower.address.houseNumber} + ', ' + ${borrower.address.postCode} + ' ' + ${borrower.address.city}"></dd>
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td>
                        <dd th:text="${process.status}"></dd>
                    </td>
                </tr>
            </table>
        <th:block th:switch="${process.status}">
            <a th:case="DENIED">
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </a>
            <a th:case="CONFLICT">
                <!-- TODO: Konfliktmanagment -->
            </a>
            <a th:case="RETURNED">
                <td>Please wait for owners response!</td>
            </a>
            <a th:case="FINISHED">
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </a>
            <a th:case="ACCEPTED">
                <table>
                    <tr>
                        <td>
                            Borrowed until:
                        </td>
                        <td>
                            <dd th:date="${process.borrowedUntil}"></dd>
                        </td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="return">Return Product</button>
                </form>
            </a>
            <a th:case="PENDING">
                <table>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:date="${process.borrowedUntil}"></dd>
                        </td>
                    </tr>
                </table>
                <form method="post">
                    <button class="btn btn-outline-danger btn-sm" name="action" type="submit" value="cancel">Cancel Process</button>
                </form>
            </a>
        </th:block>
        <br>
        <table>
            <tr th:each="message : ${process.messages}">
                <td th:text="${message}"><br></td>
            </tr>
        </table>
    </section>
</div>
</body>
</html>