<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Your Requests</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home'}">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a aria-current="page">Requests</a></li>
         <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">

    <section id="intro">
        <div class="card-body">
            <p class="card-text">

            <h1>Your Requests</h1>
        </div>
    </section>

    <section class="spalte">
        <!--Produkte, die wir verleihen-->
        <div th:switch="${lendProductsExist}">
            <div th:case="false">
                  <h1>Lent products</h1>
                  <p>No lend products</p>
            </div>
            <div th:case="true">
                <h1>Lent products</h1>
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                    <tr th:each="process : ${ownerOrderProcesses}">
                        <td th:text="${process.product.title}"></td>
                        <td th:text="${process.status}"></td>
                        <td><a class="btn btn-primary btn-sm" role="button" th:href="@{'/requests/detailsOwner/' + ${process.id}}">Details</a></td>
                    </tr>
                </table>
            </div>
        </div>

    </section>

    <section class="spalte">
        <!--Produkte, die wir selber ausleihen-->
        <div th:switch="${borrowerExist}">
            <div th:case="true">
                <h1>Borrowed products</h1>
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                    <tr th:each="process : ${borrower}">
                        <td th:text="${process.product.title}"></td>
                        <td th:text="${process.status}"></td>
                        <td><a class="btn btn-primary btn-sm" role="button" th:href="@{'/requests/detailsBorrower/' + ${process.id}}">Details</a></td>
                    </tr>
                </table>
            </div>
            <div th:case="false">
                <h1>Borrowed products</h1>
                <p>No borrowed products</p>
            </div>
        </div>

    </section>

    </main>

</div>
</body>
</html>

