<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Your Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home'}">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a aria-current="page">Requests</a></li>
         <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">

    <section id="intro">
        <div class="card-body">
            <p class="card-text">

            <h2>Your Requests</h2>
        </div>
    </section>

    <section class="spalte">
        <!--Produkte, die wir verleihen-->
        <div th:switch="${lendProductsExist}">
            <div th:case="false">
                  <h2>Lent products</h2>
                  <p>No lend products</p>
            </div>
            <div th:case="true">
                <h1>Lent products</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="process : ${ownerOrderProcesses}">
                            <td th:text="${process.product.title}"></td>
                            <td th:text="${process.status}"></td>
                            <td><a class="btn btn-primary btn-sm pinkbtn" role="button" th:href="@{'/requests/detailsOwner/' + ${process.id}}">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <section class="spalte">
        <!--Produkte, die wir selber ausleihen-->
        <div th:switch="${borrowerExist}">
            <div th:case="true">
                <h2>Borrowed products</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="process : ${borrower}">
                            <td th:text="${process.product.title}"></td>
                            <td th:text="${process.status}"></td>
                            <td><a class="btn btn-primary btn-sm pinkbtn" role="button" th:href="@{'/requests/detailsBorrower/' + ${process.id}}">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:case="false">
                <h2>Borrowed products</h2>
                <p>No borrowed products</p>
            </div>
        </div>

    </section>

    </main>

</div>
</body>
</html>

