<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Your offered Product : '+${product.title}">offer</title>
</head>
<body>
<h1>Orderdetails</h1>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home'}">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a href="/messages">Messages</a></li>
        <li><a th:href="@{'/requests'}">Requests</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <section id="spalte">
        <h1>Your lent product:</h1>
        <table>
            <tr>
                <td>
                    Product:
                </td>
                <td>
                    <dd th:text="${product?.title}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Borrower:
                </td>
                <td>
                    <dd th:text="${borrower?.username}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Email address:
                </td>
                <td>
                    <dd th:text="${borrower?.mail}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <dd th:text="${product?.address.street} + ' ' + ${product?.address.houseNumber} + ', ' + ${product?.address.postCode} + ' ' + ${product?.address.city}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                    <dd th:text="${process?.status}"></dd>
                </td>
            </tr>
        </table>

        <br>

        <div th:switch="${process?.status.name()}">

            <div th:case="'FINISHED'">
                <form method="post">
                    <button name="action" type="submit" value="deleteProcess">Delete Process</button>
                </form>
            </div>

            <div th:case="'ACCEPTED'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message}"></td>
                    </tr>
                </table>
            </div>

            <div th:case="'PENDING'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message}"></td>
                    </tr>
                </table>
                <form method="post">
                    <textarea name="message" cols="60" rows="10" th:value="${message}">Write a comment</textarea>
                    <button name="action" type="submit" value="acceptProcess">Accept Process</button>
                    <button name="action" type="submit" value="deny">Deny Process</button>
                </form>
            </div>

            <div th:case="'DENIED'">
                <form method="post">
                    <button name="action" type="submit" value="deleteProcess">Delete Process</button>
                </form>
            </div>

            <div th:case="'CONFLICT'">
                <!-- TODO: Konfliktmanagment -->
            </div>

            <div th:case="'RETURNED'">
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message}"></td>
                    </tr>
                </table>

                <form method="post">
                    <button name="action" type="submit" value="acceptReturn">Accept return</button>
                    <button name="action" type="submit" value="deny">Deny return</button>
                </form>

            </div>
        </div>
    </section>
</div>
</body>
</html>