<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Your offered Product : '+${product.title}">offer</title>
</head>
<body>
<h1>Orderdetails</h1>

</body>
</html><!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home/' + ${user.customerId}}">Home</a></li>
        <li><a th:href="@{'/profile/' + ${user.customerId}}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a th:href="@{'/profile/requests/' + ${user.customerId}}">Requests</a></li>
        <li><a role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <section id="spalte">
        <h1>Your lent Products:</h1>
        <table>
            <tr>
                <td>
                    Product:
                </td>
                <td>
                    <dd th:text="${product.title}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Borrower:
                </td>
                <td>
                    <dd th:text="${borrower.username}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Emailadress:
                </td>
                <td>
                    <dd th:text="${borrower.mail}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <dd th:text="${owner.address.street} + ' ' + ${owner.address.houseNumber} + ', ' + ${owner.address.postCode} + ' ' + ${owner.address.city}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                    <dd th:text="${process.status}"></dd>
                </td>
            </tr>
        </table>
        <th:block th:switch="${process.status}">
            <a th:case="FINISHED">
                <form method="post">
                    <button name="action" type="submit" value="delete">Delete Process</button>
                </form>
            </a>
            <a th:case="ACCEPTED">
                <table>
                    <tr>
                        <td>
                            Borrowed until:
                        </td>
                        <td>
                            <dd th:date="${process.borrowedUntil}"></dd>
                        </td>
                    </tr>
                </table>
            </a>
            <a th:case="PENDING">
                <table>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:date="${process.borrowedUntil}"></dd>
                        </td>
                    </tr>
                </table>
                <form method="post">
                    <button name="action" type="submit" value="acceptProcess">Accept Process</button>
                    <button name="action" type="submit" value="deny">Deny Process</button>
                </form>
            </a>
            <a th:case="CONFLICT">
                <!-- TODO: Konfliktmanagment -->
            </a>
            <a th:case="RETURNED">
                <form method="post">
                    <button name="action" type="submit" value="acceptProduct">Accept Product</button>
                    <button name="action" type="submit" value="appeal">Deny Product</button>
                </form>
            </a>
        </th:block>
    </section>
</div>
</body>
</html>