<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Request Details Lender</title>
</head>
<body>
<h1>Orderdetails</h1>

<nav layout:fragment="nav">
    <ul>
        <li><a th:href="@{'/home'}">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/lend">Add Product</a>
        <li><a th:href="@{'/requests'}">Requests</a></li>
         <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">
    <section id="spalte">
        <h1>Your lent product:</h1>
        <table>
            <tr>
                <td>
                    Product:
                </td>
                <td>
                    <dd th:text="${product?.title}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Borrower:
                </td>
                <td>
                    <dd><a th:text="${borrower?.username}" th:href="@{'/customer/' + ${borrower?.customerId}}"></a></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Email address:
                </td>
                <td>
                    <dd th:text="${borrower?.mail}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <td>
                    <dd th:text="${product?.address.street} + ' ' + ${product?.address.houseNumber} + ', ' + ${product?.address.postcode} + ' ' + ${product?.address.city}"></dd>
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                    <dd th:text="${process?.status}"></dd>
                </td>
            </tr>
        </table>

        <br>

        <div th:switch="${process?.status.name()}">

            <div th:case="'FINISHED'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
            </div>

            <div th:case="'ACCEPTED'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
            </div>

            <div th:case="'PENDING'">
                <table>
                    <tr>
                        <td>
                            Bookmarked from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bookmarked until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>

                <br>

                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
                <form method="post">
                    <textarea name="message" cols="60" rows="10" th:value="${message}">Write a comment</textarea>
                    <button name="action" type="submit" value="acceptProcess">Accept Process</button>
                    <button name="action" type="submit" value="deny">Deny Process</button>
                </form>
            </div>

            <div th:case="'DENIED'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>
            </div>

            <div th:case="'CONFLICT'">
                An admin is now checking this conflict.
            </div>

            <div th:case="'RETURNED'">
                <table>
                    <tr>
                        <td>
                            Checked out from:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.fromDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Checked out until:
                        </td>
                        <td>
                            <dd th:text="${#dates.format(process?.toDate, 'dd.MM.yyyy')}"></dd>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Messages</td>
                    </tr>
                    <tr th:each="message : ${process.messages}">
                        <td th:text="${message?.author}"><br></td>
                        <td th:text="${message?.date}"><br></td>
                        <td th:text="${message?.message}"><br></td>
                    </tr>
                </table>

                <br/>
                There are problems with this product? Deny the product and one of our admins will check this orderProcess!<br/>
                Comment: <br/>

                <form method="post">
                    <textarea name="message" cols="60" rows="10" th:value="${message}">Write a comment</textarea>
                    <button name="action" type="submit" value="acceptReturn">Accept return</button>
                    <button name="action" type="submit" value="appeal">Deny return</button>
                </form>

            </div>
        </div>
    </section>
</div>
</body>
</html>