<!doctype html>
<html lang="en" layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Transactions</title>
</head>
<body>

<nav layout:fragment="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a th:href="@{'/profile'}">Profile</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/product">Add Product</a>
        <li><a th:href="@{'/requests'}">Requests</a></li>
         <li th:if="${admin}"><a href="/conflicts">Conflicts</a></li>
        <li><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>

<div layout:fragment="content">

    <div th:switch="${transactionsExist}">
         <div th:case="true">
            <h2>Transactions:</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Type</th>
                    </tr>
                    <tr th:each="transaction:${transactions}">
                        <td th:text="${transaction.date}">date</td>
                        <td th:text="${transaction.amount} + '€'">Amount</td>
                        <td th:text="${transaction.transactionType}">Type</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:case="false">
            <h2>Transactions:</h2>
            <p>no Transactions yet</p>
        </div>
    </div>


</div>

</body>
</html>